<!DOCTYPE html>
<html>
<head>
    <% include header.ejs %>
</head>
<body>
<% include menu.ejs %>
<!-- WRAPPER============================== -->
<div class="wrapper">
    <!-- NAVBAR
    ============================== -->
    <nav class="navbar navbar-default navbar-fixed-top js-navbar-top js-toggleClass">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#home">全景导航</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right ">
                    <li><a href="#home">Home</a></li>
                    <li><a href="#introduction">景点详情</a></li>
                    <li class="hidden-xs">
                        <p class="navbar-text navbar__separator"></p>
                    </li>
                    <li>
                        <a href="#" class="js-toggle-sidebar">
                            <span class="oi oi-menu hidden-xs"></span>
                            <span class="visible-xs">侧标栏</span>
                        </a>
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>

    <!-- HERO
    ============================== -->
    <div class="hero hero_agency container-full" id="home">
        <div>
            <div id="owl-demo" class="owl-carousel owl-carousel">
                <div><img src="/img/portfolio_7.jpg"></div>
                <div><img src="/img/portfolio_8.jpg"></div>
            </div>
        </div>
        <!-- / .container -->
    </div>
    <!-- / .hero -->


    <!-- introduction========================= -->
    <div class="section section_alt text-center" id="introduction">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <p class="title">景点详情</p>
                    <span class="small-border"></span>
                </div>
            </div>
            <!-- / .row -->
        </div>
        <!-- / .container -->

        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <pre><%= JSON.stringify(introduction) %></pre>
                    <ul class="nav nav-tabs" role="tablist" id="mytabs">
                        <% for(var i = 0; i < introduction.introduction.length; i++){ %>
                        <li role="presentation"
                                <% if (i == 0){ %>
                            class="active"
                                <% } %>
                                >
                            <a href="#<%= introduction.introduction[i].type %>" aria-controls="messages" role="tab"
                               data-toggle="tab">
                                <% if(introduction.introduction[i].type == 'intro'){ %>
                                简介
                                <% } %>
                                <% if(introduction.introduction[i].type == 'geo'){ %>
                                地理位置
                                <% } %>
                                <% if(introduction.introduction[i].type == 'culture'){ %>
                                文化
                                <% } %>
                                <% if(introduction.introduction[i].type == 'food'){ %>
                                美食
                                <% } %>
                            </a>
                        </li>
                        <% } %>
                    </ul>
                    <div class="tab-content">
                        <% for(var i = 0; i < introduction.introduction.length; i++){ %>
                        <div role="tabpanel" class="tab-pane fade <% if(i == 0) { %>active in<% } %>"
                             id="<%= introduction.introduction[i].type %>">
                            <input type="hidden" value="<%= introduction.introduction[i]._id %>" name="articleId"/>
                            <%- introduction.introduction[i].content %>
                            <% include comment.ejs %>
                        </div>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
        <!-- / .section -->
        <% include footer.ejs %>
    </div>
    <!-- / .wrapper -->
    <% include base.ejs %>
    <script src="/js/comment.js"></script>
</body>
</html>